body,
html {
    scrollbar-width: none;
    /* 隐藏滚动条 Safari not compatibility*/
}

/* 自定义滚动条 */
.wsx_scroll {
    z-index: 999999999;
    position: fixed;

    display: none;
    user-select: none;
    transition: opacity 200ms linear;
    padding: 0;
    margin: 0;
}

.wsx_scroll_bar {
    position: relative;
    pointer-events: none;
    user-select: none;
    padding: 0;
    margin: 0;
}

.wsx_fade {
    z-index: 9999999999;
    position: fixed;
    display: block;
    pointer-events: none;
    user-select: none;
    padding: 0;
    margin: 0;
}

.wsx_vertical_scroll {
    width: 30px;
    right: 0px;
    top: 0px;
}

.wsx_vertical_scroll_bar {
    height: 100%;
}

.wsx_vertical_fade {
    right: 0px;
    top: 0px;
    width: 45px;
    height: 100%;
}

.wsx_horizontal_scroll {
    height: 30px;
    left: 0px;
    bottom: 0px;
}

.wsx_horizontal_scroll_bar {
    width: 100%;
}

.wsx_horizontal_fade {
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}